* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    padding: 20px;
}

.left {
    width: 55%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

thead {
    background-color: #0659b8;
    color: white;
}

th,
td {
    padding: 14px 16px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f3f2f2;
}

tbody tr:hover {
    background-color: #eef4ff;
}

a {
    text-decoration: none;
    font-size: 18px;
    margin: 0 5px;
}

a[title="Edit"] {
    color: #4CAF50;
}

a[title="Delete"] {
    color: #E74C3C;
}

a:hover {
    opacity: 0.7;
}

th {
    font-size: 15px;
}

td {
    font-size: 14px;
    color: #333;
}

tr td:last-child {
    text-align: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.right {
    width: 40%;
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

button {
    display: inline-block;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #218838;
}

.item-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #28a745;
    outline: none;
}

@media (max-width: 1050px) {
    main {
        flex-direction: column;
    }

    .left,
    .right {
        width: 100%;
    }

    #clear {
        float: right;
    }
}

@media (max-width: 650px) {
    table {
        width: 100%;
        display: block;
        overflow-x: auto;

    }

    #clear {
        float: none;
        width: 100%;
    }

    .left {
        margin-bottom: 35px;
    }
}